body{
    background-color: black;
    background-image: url(wallpaperflare.com_wallpaper.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:top;

}
.navigation {
    overflow: hidden;
    background-image: url(speedsters.jpg);
    position: relative;
    top: 2px;
    width: 100%;
}

.navigation a {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(5px);
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
}

.navigation a:hover {
    background: #fd6767;
    color: rgb(4, 10, 4);
}

.h{
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(5px);
    position:relative;
    border-style:groove;
    border-color:black;
    /* background-color: chartreuse; */
    left: 2%;
    top: 76px;
    width: fit-content;
}

.link1{
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(5px);
    position:relative;
    border-style:dashed;
    border-color:#fd6767;
    /* background-color: chartreuse; */
    left:2%;
    top:96px;
    width:fit-content;
    font-size:x-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.link2{
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: 5px;
    background-image: url(speedsters.jpg);
    background-size:auto;
    backdrop-filter: blur(5px);
    position:relative;
    border-style:groove;
    left:40%;
    bottom:40px;
    width:fit-content;
    font-weight:600;
    font-size:x-large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.link2:hover{
    background-image:url(hanma.webp);
    transform: scale(2.5);
    transition-duration: 4000ms;
}

/* .senpai{
    position:relative;
    left:700px;
    bottom:30px;
    width:fit-content;
    border-style: groove;
    background-color: chartreuse;
    font-weight: xx-large;
    font-size:400%;
}

.senpai:hover{
    display:none;
} */