
.kutta{
    object-position: 30px 90px;
    width: fit-content;
    padding-right:0%;
    
}

.clk{
    position: relative;
    bottom: 560px;
    left: 650px;
    color:darkorchid;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    /*background-color:azure;*/
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(5px);
    width:fit-content;
    height:auto;
}

